<div class="border p-3 mb-3" id="list-<%= list.id %>">
  <h2>
    <%= link_to list.name, list %>
  </h2>
  <% if list.private %>
    <span class="state state-closed">Private</span>
  <% end %>
  <% next_item = @user.next_item(list) %>
  <% if next_item %>
    <p class="list-next">
      Current Step:
      <% if next_item.link.blank? %>
        <%= next_item.title %>
      <% else %>
        <a href="<%= next_item.link %>" target="_blank"><%= next_item.title %></a>
      <% end %>
    </p>
  <% end %>
  <%= render partial: 'lists/list_progress', locals: {progress: @user.percent_completed(list).round} %>
</div>
