<% provide(:title, @list.name) %>
<div>
  <div class="panel list-actions">
    <%= render partial: 'save', locals: {list: @list, class_name: 'button'} %>
    <% if logged_in? %>
      <% if @list_user.nil? || @list_user.state == 'todo' %>
        <%= link_to "Begin Course", in_progress_list_path(@list), method: :post, class: "button" %>
      <% elsif @list_user.state == 'in_progress' %>
        <%= link_to "Stop Course", reset_list_path(@list), method: :post, class: "button" %>
        <%= current_user.percent_completed(@list) %>% completed
      <% elsif @list_user.state == 'completed' %>
        You have completed this course.
      <% end %>
    <% else %>
      <%= link_to "Begin Course", in_progress_list_path(@list), method: :post, class: "button" %>
    <% end %>
  </div>
  <h1><%= @list.name %></h1>
  <%= link_to gravatar_for(@list.user, size: 50), @list.user %>
  <span class="user">by <%= link_to @list.user.username, @list.user %></span>
  <div class="list-description">
    <%= markdown(@list.description) %>
  </div>
  <div class="panel list-items">
    <ul>
      <% @list.list_items.each do |item| %>
        <li>
          <div class="list-item-main">
            <h2><%= item.title %></h2>
            <div class="list-item-actions">
              <% if logged_in? && current_user.checked?(item) %>
                <%= link_to "Completed", check_list_item_path(item), method: :post, class: "button complete" %>
              <% else %>
                <%= link_to "Complete", check_list_item_path(item), method: :post, class: "button" %>
              <% end %>
            </div>
          </div>
          <% if item.description.present? %>
            <div class="list-item-description">
              <%= markdown(item.description) %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if current_user == @list.user %>
  <%= link_to 'Edit', edit_list_path(@list) %>
<% end %>
