<% provide(:title, @list.name) %>
<div>
  <div class="list-info">
    <div>
      <%= link_to gravatar_for(@list.user, size: 75), @list.user %>
    </div>
    <div>
      <span class="user"><%= link_to @list.user.username, @list.user %></span>
      <span><%= @list.user.description %></span>
      <span class="list-info-dates">created <%= @list.created_at %> &middot; updated <%= @list.updated_at %></span>
    </div>
  </div>
  <h1><%= @list.name %></h1>
  <% if current_user == @list.user %>
    <%= link_to 'Edit Path', edit_list_path(@list) %>
  <% end %>
  <p><%= @list.description %></p>
  <%= render 'user_actions' %>
  <div class="list-description">
    <%= markdown(@list.body) %>
  </div>
  <h2>Steps</h2>
  <div class="overview">
    <ul>
      <% @list.list_items.each do |item| %>
        <li>
          <div class="list-item-main">
            <div class="list-item-actions">
              <% if logged_in? && current_user.checked?(item) %>
                <%= link_to "✓", check_list_item_path(item), method: :post, class: "check complete checkmark" %>
              <% else %>
                <%= link_to "✓", check_list_item_path(item), method: :post, class: "check" %>
              <% end %>
            </div>
            <% if item.link.blank? %>
              <h2><%= item.title %></h2>
            <% else %>
              <h2><a href="<%= item.link %>" target="_blank"><%= item.title %></a></h2>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <h2>More Info</h2>
  <div class="list-items">
    <ul>
      <% @list.list_items.each do |item| %>
        <% if item.description.present? %>
        <li>
          <div class="list-item-main">
            <% if item.link.blank? %>
              <h2><%= item.title %></h2>
            <% else %>
              <h2><a href="<%= item.link %>" target="_blank"><%= item.title %></a></h2>
            <% end %>
          </div>
          <% if item.description.present? %>
            <div class="list-item-description">
              <%= markdown(item.description) %>
            </div>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
