<% provide(:title, @list.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @list.name %>
      </h1>
      <%= @list.description %>
      <% @list.list_items.each do |item| %>
        <div>
          <%= item.title %>
          <%= item.description %>
        </div>
      <% end %>
    </section>
  </aside>
</div>
<%= link_to 'Edit', edit_list_path(@list) %>
