<% provide(:title, @list.name) %>
<div>
  <div class="list-info">
    <div>
      <%= link_to gravatar_for(@list.user, size: 50), @list.user %>
    </div>
    <div>
      <span class="user"><%= link_to @list.user.username, @list.user %></span>
      <span class="list-info-dates">created <%= @list.created_at %> &middot; updated <%= @list.updated_at %></span>
    </div>
  </div>
  <h1><%= @list.name %></h1>
  <%= render 'user_actions' %>
  <div class="list-description">
    <%= markdown(@list.description) %>
  </div>
  <div class="list-items">
    <ul>
      <% @list.list_items.each do |item| %>
        <li>
          <div class="list-item-main">
            <div class="list-item-actions">
              <% if logged_in? && current_user.checked?(item) %>
                <%= link_to "✓", check_list_item_path(item), method: :post, class: "check complete checkmark" %>
              <% else %>
                <%= link_to "✓", check_list_item_path(item), method: :post, class: "check" %>
              <% end %>
            </div>
            <h2><%= auto_link item.title, html: { target: '_blank' } %></h2>
          </div>
          <% if item.description.present? %>
            <div class="list-item-description">
              <%= markdown(item.description) %>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if current_user == @list.user %>
  <%= link_to 'Edit', edit_list_path(@list) %>
<% end %>
