<% if @user.id %>
<nav class="menu">
  <span class="menu-heading">
    <%= gravatar_for @user, size: 25 %> <%= @user.username %>
  </span>
  <%= active_link_to 'About', user_path(@user), class: 'menu-item', active: 'selected' %>
  <%= active_link_to 'Created', created_user_path(@user), class: 'menu-item', active: 'selected' %>
  <%= active_link_to 'In Progress', in_progress_user_path(@user), class: 'menu-item', active: 'selected' %>
  <%= active_link_to 'Completed', completed_user_path(@user), class: 'menu-item', active: 'selected' %>
  <%= active_link_to 'Saved', saved_user_path(@user), class: 'menu-item', active: 'selected' %>
</nav>
<% end %>
