<% provide(:title, @user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
<%= link_to 'Created', created_user_path(@user) %>
<%= link_to 'Saved', saved_user_path(@user) %>
<%= link_to 'In Progress', in_progress_user_path(@user) %>
<%= link_to 'Completed', completed_user_path(@user) %>
