<% provide(:title, @user.username) %>
<% unless @user == current_user %>
  <h1>
    <%= @label %> by <%= @user.username %>
  </h1>
<% end %>
<div>
  <% if @lists.count > 0 %>
    <%= render(partial: 'lists/list_summary', collection: @lists, as: :list) %>
  <% elsif @user == current_user %>
    <div class="blankslate blankslate-spacious">
      <h3>Nothing here yet.</h3>
      <br />
      <%= link_to "Create a path to get started", new_list_path %>, or
      <%= link_to "browse paths created by other users.", recent_path %>.
    </div>
  <% else %>
    <div class="blankslate blankslate-spacious">
      <h3>Nothing here yet.</h3>
    </div>
  <% end %>
</div>
