<nav class="menu">
  <span class="menu-heading">Dashboard</span>
  <% if logged_in? %>
    <%= active_link_to 'In Progress', home_path, class: 'menu-item', active: 'selected' %>
    <%= active_link_to 'Completed', home_completed_path, class: 'menu-item', active: 'selected' %>
    <%= active_link_to 'Backlog', home_backlog_path, class: 'menu-item', active: 'selected' %>
    <% if false %>
    <%= active_link_to 'Created', home_created_path, class: 'menu-item', active: 'selected' %>
    <%= active_link_to 'Saved', home_saved_path, class: 'menu-item', active: 'selected' %>
    <% end %>
  <% end %>
</nav>
