<header class="masthead bg-blue-light">
  <div class="container">
  <nav class="masthead-nav">
    <% if logged_in? %>
      <span class="left">
        <%= link_to "Home", home_path, active: 'active'  %>
        <% if false %>
        <%= link_to "Explore", recent_path, active: 'active' %>
        <%= active_link_to "Profile", current_user, active: 'active' %>
        <% end %>
        <%= link_to "Create Path", new_list_path, class: 'btn btn-sm' %>
      </span>
      <span class="right">
        <%= link_to "Settings", settings_path, active: 'active' %>
        <%= link_to "Log out", logout_path, method: "delete" %>
      </span>
    <% else %>
      <span class="left">
        <%= link_to "PathPen", root_path, active: 'active' %>
        <% if false %>
        <%= link_to "Explore", recent_path, active: 'active' %>
        <% end %>
      </span>
      <span class="right">
        <%= link_to "Log in", login_path, active: 'active' %>
        <%= link_to "Sign up", signup_path, active: 'active' %>
      </span>
    <% end %>
  </nav>
  </div>
</header>
